{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1>Book index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Cover</th>
				<th>PublishYear</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form method="get" action="{{ path('book_filter') }}">
					<td><input name="id" type="number"></td>
					<td><input name="title" type="text"></td>
					<td><input name="description" type="text"></td>
					<td></td>
					<td><input name="publish_year" type="text"></td>
					<td><input type="submit" value="Фильтр"></td>
				</form>
			</tr>
			{% for book in books %}
				<tr class="bookRow" id="bookRow{{ book.id }}">
					<td><input class="bookInput" type="number" readonly id="bookId" style="border: 0" name="bookId" value="{{ book.id }}"></td>
					<td><input class="bookInput" type="text" readonly id="bookTitle" style="border: 0" name="bookTitle" value="{{ book.title }}"></td>
					<td><input class="bookInput" type="text" readonly id="bookDescription" style="border: 0" name="bookDescription" value="{{ book.description }}"></td>
					<td><img style="width: 120px" class="img-thumbnail" src="{{ asset('uploads/covers/' ~ book.cover) }}"></td>
					<td><input class="bookInput" type="number" readonly id="bookPublishYear" style="border: 0" name="bookPublishYear" value="{{ book.publishYear }}"></td>
					<td>
						<a class="inlineEditLink" href="#">inline edit</a>
						<a class="inlineEditSave" hidden href="#">Save</a>
						<a class="inlineEditCancel" hidden href="#">Cancel</a>
						<a class="bookShowLink" href="{{ path('book_show', {'id': book.id}) }}">show</a>
						<a class="bookEditLink" href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('book_new') }}">Create new</a>
    <script src="{{ asset('js/bookInlineEdit.js') }}"></script>
{% endblock %}
